.article-hero {
  background: url('https://www.placehold.it/1920x320') 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  h1,
  p {
    color: $white;
    text-shadow: $hero-text-shadow;
  }
}

.article-content {
  p {
    padding-bottom: $spacing-small;
  }

  //img, figure {
  //  float: left;
  //  margin: 0 $spacing-large $spacing-large;
  //  border: 4px solid #fefefe;
  //  border-radius: 0;
  //  box-shadow: 0 0 0 1px hsla(0, 0%, 4%, .2);
  //  padding: $spacing-small;
  //
  //  img {
  //    border: none;
  //    padding: 0;
  //    margin: 0;
  //    float: none;
  //  }
  //
  //  &.alignright {
  //    float: right;
  //    margin-right: 0;
  //  }
  //
  //  &.aligncenter {
  //    display: block;
  //    float: none;
  //    margin-left: auto;
  //    margin-right: auto;
  //  }
  //
  //  &.alignleft {
  //    margin-left: 0;
  //  }
  //
  //  figcaption {
  //    margin-top: $spacing-medium;
  //    font-size: $small-font-size;
  //    text-align: center;
  //  }
  //
  //  @media print, screen and (max-width: 40em) {
  //    float: none !important;
  //    margin: $spacing-large auto !important;
  //  }
  //
  //}
}

