/* ---------- _contact.scss ---------- */
.contact-form{
	padding-top: $spacing-large;
}

.contact-list{
	border-top: $border-primary;
	list-style: none;
	margin-left: 0;
	dd, dt{
		border-bottom: $border-primary;
		font-size: $font-size-subtext;
		padding: $spacing-small;
	}
	dd{
		padding-left: 40px;
	}
}
.map-row{
	max-width: 100%;
}
.map{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}