.hero {
    min-height: 20rem;
    text-align: center;
    h1 {
        margin-top: 4rem;
    }
}

section+section {
    margin-top: 5rem;
}

.latest-news {
    text-align: center;
    h2 {
        margin-bottom: 3rem;
    }
}
