/* ---------- _index.scss ---------- */
.latest-news {
  text-align: center;
  h2 {
    margin-bottom: $spacing-huge;
  }
}

.home.hero {
  h1 {
    margin-top: $spacing-large;
    font-size: $font-size-title;
  }
}
