/* ---------- _news.scss ---------- */
$news-primary-article-height: 600px;
$news-article-height: $news-primary-article-height / 2;

.news {
  h1 {
    text-align: center;
    margin-bottom: $spacing-large;
  }
}

.articles {

    .article {
        height: $news-article-height;
        text-align: center;

        .date {
            font-size: $font-size-subtext;
            margin-bottom: $spacing-small;
        }

        h1 {
            text-align: left;
            font-size: $font-size-header;
            margin-bottom: 0;
        }

        img {
            margin-bottom: $spacing-small;
            width: 100%;
            height: auto;
            max-height: 50%;
        }

        p {
          text-align: left;
          font-size: $font-size-content;
        }
    }

    .primary {
        height: $news-primary-article-height;
        text-align: center;

        img {
            margin-bottom: $spacing-medium;
            width: 100%;
            height: auto;
            max-height: 50%;
        }

        h1 {
            text-align: left;
            font-size: $font-size-title;
            margin-bottom: $spacing-large;
        }

        p {
            text-align: left;
            font-size: $font-size-content;
            margin-bottom: $spacing-small;
        }

        .read-more {
            font-size: $font-size-subtext;
            font-weight: bold;
        }
    }
}

.pagination {
  text-align: center;

  a {
    display: inline-block;
  }

  span {
    border: $border-primary;
    padding: $spacing-small $spacing-medium;
  }
}
