/* ---------- _sponsors.scss ---------- */
.sponsors {
  h1 {
    text-align: center;
  }

  p {
    text-align: center;
    margin-bottom: $spacing-large;
  }
}

.sponsor {
  padding: $spacing-large;

  &:last-child {
    border-bottom: none;
  }

  img {
    padding: $spacing-medium;
  }

  div {
    text-align: center;
  }

  h2 {
    text-align: left;
    font-size: $font-size-title;
  }

  p {
    text-align: left;
    font-size: $font-size-content;
    margin-bottom: $spacing-small;
  }

  dd p {
    text-align: right;
  }
}
