/* ---------- _staff.scss ---------- */
.staff-aside {
    text-align: center;

    img {
      padding: $spacing-medium;
      margin-bottom: $spacing-small;
    }
}

.staff-details {
  margin-bottom: $spacing-large;

  h1 {
    padding-top: $spacing-small;
    font-size: $font-size-title;
  }

  h2 {
    margin-bottom: $spacing-large;
    font-size: $font-size-subtitle;
  }

  p {
    margin-bottom: $spacing-medium;
    font-size: $font-size-content;
  }
}
