/* ---------- _custom-settings.scss ---------- */
/* --- Colors --- */
$alpha-transparent: 0.0;
$alpha-semi-transparent: 0.5;
$alpha-slight-transparent: 0.8;
$alpha-opaque: 1.0;

$color-primary: #005dff;
$color-secondary: $white;
$color-background-overlay: rgba(0, 153, 255, $alpha-slight-transparent);

/* --- Spacing --- */
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;
$spacing-huge: 4rem;

/* --- Hero --- */
$hero-height: 20rem;

/* --- Borders --- */
$border-primary: 1px solid $color-primary;

/* --- Typography --- */
$font-size-title: rem-calc(25);
$font-size-header: rem-calc(20);
$font-size-subtitle: rem-calc(16);
$font-size-content: rem-calc(14);
$font-size-subtext: rem-calc(11);

$font-weight-bold: 600;

/* ##### Global Styles ##### */
* {
  box-sizing: border-box;
  color: $color-primary;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-primary;
}
