{% if post.files %}

<section class="files section box">
    <div class="row">
        <div class="columns">
            <h4>Download Course Related Files</h4>
        </div>
        <div class="small-up-3 medium-up-6 large-up-6 attachment">
            {% for file in post.get_field('files') %}
            {% for f in file %}
            {% set fa = TimberImage(f) %}
            <div class="column thumbnail">
                <a href="{{ fa.guid }}" title="Download {{ fa.title }}">
                    <img src="{{ fa.src | resize(200) }}"></a>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
