<div class="medium-4 columns">
    {% if section.image_link %}
    <a href="#" class="thumbnail">
        {% endif %}
        <img src="{{ TimberImage(section.image).src }}" alt="{{ section.image_caption | striptags }}">
        {% if section.image_link %}
    </a>
    {% endif %}
    {{ section.image_caption | wpautop }}
</div>
