<section class="hero"
         {% if post.hero_image %}
         style="background-image: url({{ TimberImage(post.hero_image).src }})"
         {% endif %}
>
    <div class="row">
        <h1>{{ post.title }}</h1>
        <div class="medium-9 medium-centered columns box">
            <p class="lead">{{ post.hero_subtitle }}</p>
            {{ post.hero_description | wpautop }}
        </div>
    </div>
</section>
