{% extends "base.twig" %}


{% block content %}

<section class="news">

    <h1>News &amp; Media</h1>

    <section class="articles">
        <div class="row">

          {% set featured = true %}

          {% for article in posts %}

            {% if featured %}
              {% include "sections/news-featured-article.twig" %}
              {% set featured = false %}
            {% else %}
              {% include "sections/news-article.twig" %}
            {% endif %}

          {% endfor %}

        </div>
    </section>

    <!-- TODO: Pagination -->
    <section class="pagination">
        <div class="row">
            <a href="#" class="button large">1</a>
            <a href="#" class="hollow button large">2</a>
            <a href="#" class="hollow button large">3</a>
            <a href="#" class="hollow button large">4</a>
            <a href="#" class="hollow button large">Next</a>
        </div>
    </section>
    <!-- TODO: Pagination -->

</section>

{% endblock %}
