<div class="row large-text-left medium-text-center text-center">
    <div class="large-3 medium-6 columns">
        {% include "footer/menu.twig" with {'menu': footer_left_menu } %}
    </div>
    <div class="large-3 medium-6 columns">
        {% include "footer/menu.twig" with {'menu': footer_middle_menu} %}
    </div>
    <div class="large-3 medium-6 columns">
        <h5>Find Us</h5>
        {{ site_options.address }}
    </div>
    <div class="large-3 medium-6 columns end">
        {% include "footer/menu.twig" with {'menu': footer_right_menu} %}
        {% include "footer/social-media.twig" %}
    </div>
</div>
<div class="row medium-text-center text-center">
    <p class="copyright">
        ©Copyright {{"now"|date('Y')}} {{ site.name }}. All rights reserved.</p>
</div>
