{% extends "base.twig" %}

{% block content %}

{% include "sections/hero.twig" %}

<section class="article-content">
    <div class="row">
        <div class="medium-10 medium-centered columns">
            {{ post.content | wpautop }}
        </div>
    </div>
</section>

{% include "sections/article-card.twig" with {'articles': post.articles(3, true)} %}

{% endblock %}
