<footer class="footer section">
    <div class="row large-text-left medium-text-center text-center">
        <div class="large-3 medium-6 columns">
            <h5>Our Divisions</h5>
            <ul class="menu vertical">
                <li><a href="#">Working Dogs &amp; Horses</a></li>
                <li><a href="ultimate-rural-training-centre.html">Ultimate Rural Training Centre</a></li>
                <li><a href="#">Toomby Equine Muscular Therapy</a></li>
                <li><a href="#">EMM-TECH</a></li>
            </ul>
        </div>
        <div class="large-3 medium-6 columns">
            <h5>Discover Toomby</h5>
            <ul class="menu vertical">
                <li><a href="#">News &amp; Media</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
        <div class="large-3 medium-6 columns">
            <h5>Find Us</h5>
            <p>Wonderland Station</p>
            <p>1486 Hervey Range Road,<br>Alice River, QLD 4817<br>AUSTRALIA</p>
        </div>
        <div class="large-3 medium-6 columns end">
            <h5>Our Sponsors</h5>
            <a href="#">Toomby Horsemanship would not be possible without our amazing sponsors.</a>
            <h5>Social Media</h5>
            <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a>
            <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a>
        </div>
    </div>
    <div class="row medium-text-right text-center">
        <p class="copyright">©2017 Toomby Horsemanship. All rights reserved.</p>
    </div>
</footer>
