/* ---------- _articles.scss ---------- */
$news-feature-article-height: 600px;
$news-article-height: $news-feature-article-height / 2;

.articles {
  .article, .feature {
    text-align: center;

    .title {
      .date {
        float: right;
      }
      a {
        h1 {
          float: left;
          text-align: left;
          font-size: $font-size-header;
          margin-bottom: $spacing-small;
          color: $color-link !important;
        }
      }
    }

    img {
      margin-bottom: $spacing-medium;
      height: auto;
      max-height: 200px;
    }

    p {
      clear: both;
      text-align: left;
      font-size: $font-size-content;
    }
  }

  .feature {
    text-align: center;

    img {
      margin-bottom: $spacing-medium;
      width: 100%;
      height: auto;
      min-height: 25rem;
    }

    h1 {
      text-align: left;
      font-size: $font-size-title;
      margin-bottom: $spacing-large;
    }

    p {
      text-align: left;
      font-size: $font-size-content;
      margin-bottom: $spacing-small;
    }

  }
  .feature, .article {
    .read-more {
      display: block;
      text-align: right;
      font-size: $font-size-subtitle;
      font-weight: bold;
    }
  }
}
