/* ---------- _footer.scss ---------- */
.footer {
  margin-top: $spacing-large;
  .menu {
    & > li {
      & > a {
        padding: $spacing-small 0;
      }
    }
  }

  .columns {
    margin-top: $spacing-medium;
  }

  .copyright {
    font-style: italic;
    font-size: $small-font-size;
  }

  h5 {
    font-weight: bold;
    font-size: $font-size-subtitle;
    color: $dark-gray;
  }

  a {
    font-size: $font-size-content;
  }
}
