.footer {
  margin-top: $spacing-large;
  .menu {
    & > li {
      & > a {
        padding: 0.5rem 0;
      }
    }
  }

  .columns {
    margin-top: 1.5rem;
  }

  .copyright {
    font-style: italic;
    font-size: $small-font-size;
  }
}
