/* ---------- _latest-news.scss ---------- */

.latest-news {

  .card {
    position: relative;

    .card-section > :last-child {
      margin-bottom: $spacing-huge;
    }
  }

  .card-section {
    padding: $spacing-small 0;
  }

  .date {
    font-size: $font-size-content;
    color: $color-background-overlay;
    padding: $spacing-small 0;
  }

  h3 {
    font-size: $font-size-header;
    padding: $spacing-medium 0;
  }

  p {
    font-size: $font-size-content;
    margin-bottom: $spacing-medium;
  }

  .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $spacing-small;
  }

}
