/* ---------- _qualifications.scss ---------- */

.qualifications {
  text-align: left;
}

.qualification-title {
  font-size: $font-size-subtitle;
  font-weight: bold;
  margin-bottom: $spacing-small;
}

.qualification-list {
  border-top: $border-primary;
  list-style: none;
  margin-left: 0;
}

.qualification {
  border-bottom: $border-primary;
  font-size: $font-size-subtext;
  padding: $spacing-small;
}
