/* ---------- _qualifications.scss ---------- */

$brand-border: 1px solid $brand-primary;

.qualifications {
  text-align: left;
}

.qualification-title {
  font-size: rem-calc(16);
  font-weight: bold;
  margin-bottom: 10px;
}

.qualification-list {
  border-top: $brand-border;
  list-style: none;
  margin-left: 0;
}

.qualification {
  border-bottom: $brand-border;
  font-size: rem-calc(11);
  padding: 5px;
}
