/* ---------- _staff.scss ---------- */
.staff-aside {
    text-align: center;
}

.staff-photo {
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.staff-about-title {
    padding-top: 0.5rem;
    font-size: rem-calc(25);
}

.staff-about-position {
    margin-bottom: 30px;
    font-size: rem-calc(16);
}

.staff-about-details {
    margin-bottom: 30px;
}
/* ---------- _teamMembers.scss ---------- */
.team-members {
    margin-bottom: 50px;
}

.team-members-title {
    margin-bottom: 50px;
}

.team-member {
    position: relative;
    height: 200px;
    text-align: center;
}

.team-member-title {
    left: 0;
    bottom: 50%;
    display: block;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    transition: $image-hover-wrapper-transition;
    font-size: rem-calc(25);
}

.team-member-info {
    left: 0;
    bottom: -10%;
    display: block;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    transition: $image-hover-wrapper-transition;
    font-size: rem-calc(16);
}
