/* ---------- _staff-card.scss ---------- */
$staff-image-hover-heading-offset-top: 40%;
$staff-image-hover-content-offset-bottom: -10%;
$staff-card-height: 300px;

.image.card.staff {
    height: $staff-card-height;

    a .reveal {
        h1 {
            top: $staff-image-hover-heading-offset-top;
        }

        p {
            bottom: $staff-image-hover-content-offset-bottom;
        }
    }
}
