/* ---------- _dl.scss ---------- */
dl {
  font-size: $font-size-content;
  width: $definition-width;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: $spacing-large;
  text-align: left;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: space-between;

  dt, dd {
    box-sizing: border-box;
    border-bottom: $border-subtle;
    padding: $spacing-small 0;
  }

  dt {
    width: $definition-term-width;
    margin: 0;
    &:hover {
      background: $color-blue-box-background-light;
      & + dd {
        background: $color-blue-box-background-light;
      }
    }

  }

  dd {
    text-align: right;
    width: $definition-description-width;
  }

}
