{% if site_options.facebook_url or site_options.twitter_url or site_options.linkedin_url %}
<h5>Social Media</h5>
{% endif %}

{% if site_options.facebook_url %}
<a href="{{ site_options.facebook_url }}" title="Find us on Facebook">
    <i class="fa fa-facebook"></i>
</a>
{% endif %}

{% if site_options.twitter_url %}
<a href="{{ site_options.twitter_url }}" title="Follow us on Twitter">
    <i class="fa fa-twitter"></i>
</a>
{% endif %}

{% if site_options.linkedin_url %}
<a href="{{ site_options.linkedin_url }}" title="Connect with us on LinkedIn">
    <i class="fa fa-linkedin"></i>
</a>
{% endif %}
