.article-hero {
    background: url('https://www.placehold.it/1920x320') 50% no-repeat;
    background-size: cover;
    height: $hero-height;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    h1,
    p {
        color: $white;
        text-shadow: $hero-text-shadow;
    }
}
.article-content {
    p {
        padding-bottom: $spacing-small;
    }
    img {
        display: block;
        margin: 0 auto;
        margin-bottom: $spacing-large;
    }
}
