/* ---------- _training.scss ---------- */
.training {
  .hero {
    h1 {
      margin-bottom: $spacing-large;
    }

    .box {
      background-color: $color-grey-box-background;
      padding: $spacing-medium;
    }

    .lead {
      font-size: $font-size-header;
      text-align: center;
      margin-bottom: $spacing-medium;
    }

  }

  p {
    text-align: left;
  }

  .conditions {
    background-color: $color-grey-box-background;
    padding: $spacing-medium;

    p {
      font-size: $font-size-subtext;
    }
  }

  .overview {
    h2 {
      font-size: $font-size-header;
    }
    h3 {
      font-size: $font-size-subtitle;
      font-weight: bold;
    }
  }
  .image.card.preview{
    height: 100%;
    img{
      height: inherit;
    }
  }
  .faq {
    h3 {
      text-align: center;
      margin-bottom: $spacing-large;
    }
    h4 {
      font-size: $font-size-content;
      font-weight: bold;
    }
  }
}
