/* ---------- _pagination.scss ---------- */
.pagination {
  text-align: center;

  a {
    display: inline-block;
  }

  span {
    border: $border-primary;
    padding: $spacing-small $spacing-medium;
  }
}
