/* ---------- _item.scss ---------- */
$primary-product-img-height: 65%;
$primary-product-img-width: $primary-product-img-height;
$mobile-image-height: 200px;
$mobile-image-width: $mobile-image-height;

.product-basics {
    .price {
        font-size: $font-size-subtitle;
    }

    .description {
        font-size: $font-size-content;
        margin-bottom: $spacing-large;
    }

    ul {
        list-style: none;
        font-size: $font-size-content;
        border-top: $border-subtle;
        border-bottom: $border-subtle;
        padding: 0;
        margin: 0 0 $spacing-large;

        li {
            padding: $spacing-small;
            border-bottom: $border-subtle;

            :last-child {
                border: none;
            }
        }
    }

    .disclaimer {
        font-style: italic;
        margin-bottom: $spacing-large;
    }

    .add-to-cart {
        width: 100%;
        text-align: center;
        font-weight: bold;
    }

    .show-for-small-only {
        img {
            display: block;
            max-width: $mobile-image-height;
            max-height: $mobile-image-height;
            margin: 0 auto $spacing-medium;
        }
    }
}

.product-gallery {
    text-align: center;

    .outer-wrapper {
        display: table;
        width: 100%;
        margin: 0 0 $spacing-small;
        height: $primary-product-img-height;
    }

    .inner-wrapper {
        display: table-cell;
        vertical-align: middle;
        height: $primary-product-img-height;

        img {
            max-height: $primary-product-img-height;
            max-width: $primary-product-img-width;
        }
    }
}

.product-information {
    border-top: $border-subtle;
    padding: $spacing-large $spacing-small $spacing-small;

    h2 {
        font-size: $font-size-content;
        font-weight: bold;
    }

    p {
        font-size: $font-size-content;
        margin-bottom: $spacing-large;
    }
}
